body{
  text-align:center;
  background:linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ),url("tea.jpg");
  background-position:center;
  background-size:cover;
  background-attachment: fixed;
}

img{
  width:120px;
  height:120px;
  border-radius:50%;
}

h1{
  font-family:'Carmorant Garamond',serif;
  font-size:150%;
  color:#C58E4C;
}
ul{
  list-style-type:none;
  margin:0 auto;
}
li{
  font-family:'Carmorant Garamond',serif;
  font-size:150%;
  border:#FFFFFF solid 2px;
  padding:1% 1% 1% 1%;
  margin: 0 auto;
  position: relative;
  color:white;
}
li:hover{
  color:black;
  background:#C58E4C;
}
a{
  text-decoration:none;
}
